/* some thoughts: card-you can make the shape here. dont worry about them looking great at first. looking to the shaping and styling in your cv. and dont forget to make it something nice  */

h1 {
    text-align: center;
}
.score-card{
    text-align: center;
}
button{
    
}