body{
    background-color: rgb(177, 242, 243);
}
.scoreboard{
    font-weight: bold;
    justify-content: space-evenly;
    text-align: center; 
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
    padding: 5px;

}
.grid-item {
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}
.card-inner {
    position: relative;
    width: 100px;
    height: 100px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.is-flipped {
    transform: rotateY(180deg);
}
.card-front,
.card-back {
    position: absolute;
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 2rem;
}
.card-back {
    background-color: #2c3e50;
    color: white;
}
.card-front {
    background-color: #c9edf6;
    transform: rotateY(180deg);
}
.firework {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff; 
  animation: explode 1s ease-out forwards;
  pointer-events: none;
}
@keyframes explode {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(30); opacity: 0; }
}